<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Client App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="container">
        <div class="container">
            <div id="app">
                <div class="row" id="modelList">
                    <h3>Model list</h3>
                    <table v-if="hasModels">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Id</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="model in models">
                                <td>{{ model.name }}</td>
                                <td>{{ model._id }}</td>
                                <td>
                                    <button id="modelView" @click="viewModel(model._id)" class="btn-small">View</button>
                                </td>
                                <td>
                                    <button id="modelChange" @click="changeModelInput(model._id)" class="btn-small">Modify</button>
                                </td>
                                <td>
                                    <button id="modelDelete" @click="confirmModelDelete(model._id)" class="btn-small"><i class="material-icons right">delete</i>Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p v-if="noModels">No models created yet.</p>
                </div>
                <div class="row" id="modelCreate">
                    <h3>Create Model</h3>
                    <form class="form-group" @submit.prevent="createModel">
                        <div class="row">
                            <div class="form-control">
                                <textarea v-model="jsonData" ref="jsonData" placeholder="Enter JSON model data here" id="jsonData" rows="20" class="validate"></textarea>
                            </div>
                        </div>
                        <button id="modelCreateSubmit" class="btn" type="submit"><i class="material-icons right">create</i>Create</button>
                    </form>
                </div>
                <div id="deleteConfirm" ref="deleteConfirm" class="modal">
                    <div class="modal-content">
                        <h4>Confirm delete</h4>
                        <p>Delete {{ selectedModel }}?</p>
                    </div>
                    <div class="modal-footer">
                        <button @click="deleteModel(selectedModelId)" class="modal-close btn-flat">Ok</button>
                        <button class="modal-close btn-flat">Cancel</button>
                    </div>
                </div>
                <div id="modelDataViewer" ref="modelDataViewer" class="modal">
                    <div class="modal-content">
                        <h4>Model Data</h4>
                        <pre vhtml="selectedModelData">{{ selectedModelData }}</pre>
                    </div>
                    <div class="modal-footer">
                        <button class="modal-close btn-flat">Close</button>
                    </div>
                </div>
                <div id="modelPatcher" ref="modelPatcher" class="modal">
                    <div class="modal-content">
                        <p>{{ selectedModel }} to be changed</p>
                        <textarea v-model="jsonPatch" ref="jsonPatch" placeholder="Apply deltas as JSON-patch" id="jsonPatch" rows="5"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button @click="changeModel(selectedModelId)" class="modal-close btn-flat">Ok</button>
                        <button class="modal-close btn-flat">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/main.js"></script></body>
</html>